
<div class="container">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <div class="card" *ngFor="let rec of recipeBook; let i = index">
  <button  type="button" class="btn btn-secondary" data-toggle="collapse" [attr.data-target]="'#'+i">{{rec.recipe}}</button>
  <div class="card-text" id="{{i}}" class="collapse in">
    <br>
    <ul><li *ngFor="let ingr of recipeBook[i].ingredients">
    {{ingr}}</li></ul><br>
    <button (click)="delete()" type="button" class="btn btn-danger">Delete</button><br>
  </div>
</div>
</div>
