
<div class="container">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <div class="card" *ngFor="let rec of recipeBook; let i = index">
  <button (click)="button(rec)" type="button" class="btn btn-secondary" [value]="rec.recipe"
   data-toggle="collapse"  [attr.data-target]="'#'+i" >{{rec.recipe}}</button>
  <div class="card-text" id="{{i}}" class="collapse in">
    <br>
    <ul><li *ngFor="let ingr of recipeBook[i].ingredients">
    {{ingr}}</li></ul><br>
    &nbsp;&nbsp;<button (click)="delete()" type="button" class="btn btn-danger">Delete</button>&nbsp;
     <button (click)="edit()" type="button" class="btn btn-info">Edit</button><br><br>
  </div>
</div>
</div>
